@import '../../../global.scss';

$content-vertical-padding: 5%;

$content-horizontal-padding-landscape: 20%;
$content-horizontal-padding-mobile: 5%;

.content {
    width: 100%;
    height: 100%;
    padding-top: $content-vertical-padding;
    padding-bottom: $content-vertical-padding;
    padding-right: $content-horizontal-padding-landscape;
    display: flex;
    flex-direction: column;

    @media screen and (max-width: $min-landscape-width) {
        padding-top: 0%;
        padding-left: $content-horizontal-padding-mobile;
        padding-right: $content-horizontal-padding-mobile;
        padding-bottom: $content-vertical-padding;
    }
}
