@import '../../global.scss';

.main-columns {
    width: 100%;
    height: 100%;
    display: flex;
    flex-direction: row;

    @media screen and (max-width: $min-landscape-width) {
        flex-direction: column;
    }
}

.intro {
    width: 100%;
    height: 100%;
}

.content {
    width: 100%;
    height: 100%;
}
