.content {
    width: 100%;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
}

.option {
    cursor: pointer;

    @media screen and (max-width: 550px) {
        font-size: 0.8rem;
    }

    @media screen and (max-width: 450px) {
        font-size: 0.6rem;
    }

    @media screen and (max-width: 350px) {
        font-size: 0.5rem;
    }
}

.option:hover {
    font-weight: bold;
}

.option.selected {
    font-weight: bold;
    color: #3880FF;
}
