<div class="information-block content">
  <div class="row-container">
    <ion-text color="medium" class="time-range">{{experience.timeRange}}</ion-text>
    <div class="small-spacer"></div>
    <ion-text class="title">{{experience.title}}</ion-text>
    <div class="small-spacer"></div>
    <ion-text>{{experience.company}}</ion-text>
  </div>
  <div class="spacer"></div>
  <ion-text color="medium">{{experience.description}}</ion-text>
  <div class="small-spacer"></div>
  <div class="row-container">
    <div class="attribute-container" *ngFor="let attribute of experience.attributes">
      <ion-chip class="attribute" color="success">{{attribute}}</ion-chip>
    </div>
  </div>
</div>
