<ion-content [scrollY]="false">
  <div class="content">
    <div class="main-container">
      <div class="name-role-container">
        <ion-text class="name">
          Alex Dalgleish-Morel
        </ion-text>
        <ion-text class="role">
          Software Developer
        </ion-text>
      </div>
      <div class="spacer"></div>
      <ion-text class="motivation" color="medium">
        I build user-friendly interfaces that solve everyday issues with smart design solutions.
      </ion-text>
      <div class="spacer"></div>
      <div class="media-container">
        <div class="row">
          <ion-icon class="icon linkedin" name="logo-linkedin"></ion-icon>
          <div class="icon-padding"></div>
          <ion-icon class="icon github" name="logo-github"></ion-icon>
          <div class="icon-padding"></div>
          <ion-icon class="icon instagram" name="logo-instagram"></ion-icon>
          <div class="icon-padding"></div>
          <ion-icon class="icon youtube" name="logo-youtube"></ion-icon>
        </div>
      </div>
    </div>
  </div>
</ion-content>
