<ion-content [scrollY]="false">
  <div class="content">
    <div class="main-container">
      <ion-card-title>Alex Dalgleish-Morel</ion-card-title>
      <ion-card-subtitle>Software Developer</ion-card-subtitle>
      <div class="spacer"></div>
      <ion-text color="medium" class="motto">
        Focused on building user-oriented interfaces with smart design solutions.
      </ion-text>
      <div class="spacer"></div>
      <div class="row">
        <ion-button shape="round" color="light">
          <ion-icon name="logo-linkedin"></ion-icon>
        </ion-button>
        <div class="icon-padding"></div>
        <ion-button shape="round" color="light">
          <ion-icon name="logo-github"></ion-icon>
        </ion-button>
        <div class="icon-padding"></div>
        <ion-button shape="round" color="light">
          <ion-icon name="logo-youtube"></ion-icon>
        </ion-button>
      </div>
    </div>
  </div>
</ion-content>
