$img-size: 100px;
$media-padding-size: 20px;
$media-icon-size: calc($img-size/2) - $media-padding-size;
$role-label-ratio: 0.60;

.bold {
    font-weight: bold;
}

.content {
    width: 100%;
    height: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
}

.main-container {
    width: 60%;
    height: 100%;
    display: flex;
    flex-direction: column;
    justify-content: center;

    @media screen and (max-width: 1060px) {
        width: 90%;
        align-items: center;
    }
}

.motto {
    @media screen and (max-width: 1060px) {
        text-align: center;
    }
}

.row {
    display: flex;
    flex-direction: row;
}

.spacer {
    padding: 10px;
}
