<ion-content [scrollY]="false">
  <div class="content">
    <div class="main-container">
      <ion-card-title>Alex Dalgleish-Morel</ion-card-title>
      <ion-card-subtitle>Software Developer</ion-card-subtitle>
      <ion-card-subtitle>BSc, Computer Science</ion-card-subtitle>
      <div class="spacer"></div>
      <div class="row">
        <a href="https://www.linkedin.com/in/alex-dalgleish-morel/" target="_blank">
          <ion-icon name="logo-linkedin" size="large"></ion-icon>
        </a>
        <div class="spacer"></div>
        <a href="https://github.com/alexdalgleishmorel" target="_blank">
          <ion-icon name="logo-github" size="large"></ion-icon>
        </a>
        <div class="spacer"></div>
        <a href="" target="_blank">
          <ion-icon name="document-text-outline" size="large"></ion-icon>
        </a>
      </div>
    </div>
  </div>
</ion-content>
