@import '../../../global.scss';

$img-size: 100px;
$media-padding-size: 20px;
$media-icon-size: calc($img-size/2) - $media-padding-size;
$role-label-ratio: 0.60;

.content {
    width: 100%;
    height: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
}

.main-container {
    width: 60%;
    height: 100%;
    display: flex;
    flex-direction: column;
    justify-content: center;

    @media screen and (max-width: $min-landscape-width) {
        width: 90%;
    }
}

.media-container {
    display: flex;
    flex-direction: row;

    img {
        border-radius: 10px;
        width: $img-size;
        height: $img-size;
    }

    .icon {
        border-radius: 5px;
        font-size: $media-icon-size;
        cursor: pointer;
    }

    .icon:hover {
        color: #3880FF;
    }

    .profile-icon-padding {
        padding: 50px;
    }

    .icon-padding {
        padding: $media-padding-size;
    }

    .row {
        display: flex;
        flex-direction: row;
    }
    
    .column {
        display: flex;
        flex-direction: column;
    }
}

.name {
    font-weight: bold;
    color: #3880FF;

    @media screen and (min-width: 1315px) {
        font-size: 2.5rem;
    }

    @media screen and (min-width: 1200px) and (max-width: 1315px) {
        font-size: 2.25rem;
    }

    @media screen and (min-width: 1060px) and (max-width: 1200px) {
        font-size: 2.0rem;
    }

    @media screen and (min-width: 465px) and (max-width: 1060px) {
        font-size: 2.5rem;
    }

    @media screen and (min-width: 400px) and (max-width: 465px) {
        font-size: 2.25rem;
    }

    @media screen and (max-width: 400px) {
        font-size: 2.0rem;
    }
}

.role {
    @media screen and (min-width: 1315px) {
        font-size: calc($role-label-ratio*2.5rem);
    }

    @media screen and (min-width: 1200px) and (max-width: 1315px) {
        font-size: calc($role-label-ratio*2.25rem);
    }

    @media screen and (min-width: 1060px) and (max-width: 1200px) {
        font-size: calc($role-label-ratio*2.0rem);
    }

    @media screen and (min-width: 465px) and (max-width: 1060px) {
        font-size: calc($role-label-ratio*2.5rem);
    }

    @media screen and (min-width: 400px) and (max-width: 465px) {
        font-size: calc($role-label-ratio*2.25rem);
    }

    @media screen and (max-width: 400px) {
        font-size: calc($role-label-ratio*2.0rem);
    }
}

.name-role-container {
    display: flex;
    flex-direction: column;
}

.spacer {
    padding: 10px;
}
