.attribute {
    margin: 0;
}

.attribute-container {
    padding-top: 5px;
    padding-right: 5px;
}

.content {
    width: 100%;
    display: flex;
    flex-direction: column;
}

.row-container {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
}

.column-container {
    display: flex;
    flex-direction: column;
    align-items: center;
}

.logo-block {
    padding-right: 20px;
}

.logo-label {
    font-size: 50%;
}

.small-spacer {
    padding: 5px;
}

.spacer {
    padding: 10px;
}

.time-range {
    font-weight: bold;
}
