<div class="spacer"></div>
<div class="content">
    <div class="information-block">
        <img src="../../../assets/rocky-mountains-outline.jpg">
        <ion-text color="medium">
            Some sort of descriptive blurb about how and why I started computer science, 
            with some fun little description right about here.
            Some sort of descriptive blurb about how and why I started computer science, 
            with some fun little description right about here.
        </ion-text>
        <div class="spacer"></div>
        <ion-text color="medium">
            Another blurb about human interaction here and why I'm doing it, along with a
            subtle mention about how I spend my other spare time working on personal projects 
            to solve everyday problems I face in my own life.
        </ion-text>
        <div class="spacer"></div>
        <ion-text color="medium">
            A final fun blurb about my hobbies and what i do besides coding, with my picture right here!
        </ion-text>
        <div class="spacer"></div>
        <img src="../../../assets/surfing.jpg">
        <div class="spacer"></div>
    </div>
</div>
