<div class="spacer"></div>
<div class="content">
    <div class="information-block">
        <ion-text class="title">About Me</ion-text>
        <div class="spacer"></div>
        <ion-text color="medium">
            Solving problems and improving how something works has always been a fixation of mine. 
        </ion-text>
        <div class="spacer"></div>
        <ion-text color="medium">
            This motivated me to pursue a degree in Computer Science, 
            with a focus on human-computer interaction.
        </ion-text>
        <div class="spacer"></div>
        <ion-text color="medium">
            I'm concentrated on crafting interfaces that are not only functional, but inclusive, visually engaging and user-friendly.
        </ion-text>
        <div class="spacer"></div>
        <ion-text color="medium">
            In my spare time, personal <a class="link" (click)="projectsSelected()">projects</a> 
            are always in the works, to either solve an everyday problem, or to create 
            fun and engaging interfaces.
        </ion-text>
        <div class="spacer"></div>
        <ion-text color="medium">
            Besides software development, my time is spent boldering or surfing in the mountains!
        </ion-text>
        <div class="spacer"></div>
        <img style="border: 1px solid #FFFFFF;" src="../../../assets/surfing.jpg">
        <div class="spacer"></div>
    </div>
</div>
